<link rel="stylesheet" href="/stylesheets/drawing.css">
<h1>rawing: {{ drawingNumber }}</h1>

<script>
</script>

<div class="container">
  <div class="span2"></div>
  <div class="span10">
    <div class="row">
      <div id="number1" class="span1">1</div><div id="number2" class="span1">2</div><div id="number3" class="span1">3</div><div id="number4" class="span1">4</div><div id="number5" class="span1">5</div><div id="number6" class="span1">6</div><div id="number7" class="span1">7</div><div id="number8" class="span1">8</div><div id="number9" class="span1">9</div><div id="number10" class="span1">10</div>
    </div>
    <div class="row">
      <div id="number11" class="span1">11</div><div id="number12" class="span1">12</div><div id="number13" class="span1">13</div><div id="number14" class="span1">14</div><div id="number15" class="span1">15</div><div id="number16" class="span1">16</div><div id="number17" class="span1">17</div><div id="number18" class="span1">18</div><div id="number19" class="span1">19</div><div id="number20" class="span1">20</div>
    </div>
    <div class="row">
      <div id="number21" class="span1">21</div><div id="number22" class="span1">22</div><div id="number23" class="span1">23</div><div id="number24" class="span1">24</div><div id="number25" class="span1">25</div><div id="number26" class="span1">26</div><div id="number27" class="span1">27</div><div id="number28" class="span1">28</div><div id="number29" class="span1">29</div><div id="number30" class="span1">30</div>
    </div>
    <div class="row">
      <div id="number31" class="span1">31</div><div id="number32" class="span1">32</div><div id="number33" class="span1">33</div><div id="number34" class="span1">34</div><div id="number35" class="span1">35</div><div id="number36" class="span1">36</div><div id="number37" class="span1">37</div><div id="number38" class="span1">38</div><div id="number39" class="span1">39</div><div id="number40" class="span1">40</div>
    </div>
    <div class="row">
      <div id="number41" class="span1">41</div><div id="number42" class="span1">42</div><div id="number43" class="span1">43</div><div id="number44" class="span1">44</div><div id="number45" class="span1">45</div><div id="number46" class="span1">46</div><div id="number47" class="span1">47</div><div id="number48" class="span1">48</div><div id="number49" class="span1">49</div><div id="number50" class="span1">50</div>
    </div>
    <div class="row">
      <div id="number51" class="span1">51</div><div id="number52" class="span1">52</div><div id="number53" class="span1">53</div><div id="number54" class="span1">54</div><div id="number55" class="span1">55</div><div id="number56" class="span1">56</div><div id="number57" class="span1">57</div><div id="number58" class="span1">58</div><div id="number59" class="span1">59</div><div id="number60" class="span1">60</div>
    </div>
    <div class="row">
      <div id="number61" class="span1">61</div><div id="number62" class="span1">62</div><div id="number63" class="span1">63</div><div id="number64" class="span1">64</div><div id="number65" class="span1">65</div><div id="number66" class="span1">66</div><div id="number67" class="span1">67</div><div id="number68" class="span1">68</div><div id="number69" class="span1">69</div><div id="number70" class="span1">70</div>
    </div>
    <div class="row">
      <div id="number71" class="span1">71</div><div id="number72" class="span1">72</div><div id="number73" class="span1">73</div><div id="number74" class="span1">74</div><div id="number75" class="span1">75</div><div id="number76" class="span1">76</div><div id="number77" class="span1">77</div><div id="number78" class="span1">78</div><div id="number79" class="span1">79</div><div id="number80" class="span1">80</div>
    </div>
  </div>
  </div>
  <div class="span2"></div>
</div>
