<link rel="stylesheet" href="/stylesheets/drawing.css">
<h1>rawing Number: {{ drawingNumber }}</h1>

<script>

</script>

<div class="container">

  <div class="span2"></div>
  <div class="span8">
  <div class="row">
    <div id="number1" class="span1 number">1</div>
    <div id="number2" class="span1 number">2</div>
    <div id="number3" class="span1 number">3</div>
    <div id="number4" class="span1 number">4</div>
    <div id="number5" class="span1 number">5</div>
    <div id="number6" class="span1 number">6</div>
    <div id="number7" class="span1 number">7</div>
    <div id="number8" class="span1 number">8</div>
    <div id="number9" class="span1 number">9</div>
    <div id="number10" class="span1 number">10</div>
  </div>
  <div class="row">
    <div id="number11" class="span1 number">11</div>
    <div id="number12" class="span1 number">12</div>
    <div id="number13" class="span1 number">13</div>
    <div id="number14" class="span1 number">14</div>
    <div id="number15" class="span1 number">15</div>
    <div id="number16" class="span1 number">16</div>
    <div id="number17" class="span1 number">17</div>
    <div id="number18" class="span1 number">18</div>
    <div id="number19" class="span1 number">19</div>
    <div id="number20" class="span1 number">20</div>
  </div>
  <div class="row">
    <div id="number21" class="span1 number">21</div>
    <div id="number22" class="span1 number">22</div>
    <div id="number23" class="span1 number">23</div>
    <div id="number24" class="span1 number">24</div>
    <div id="number25" class="span1 number">25</div>
    <div id="number26" class="span1 number">26</div>
    <div id="number27" class="span1 number">27</div>
    <div id="number28" class="span1 number">28</div>
    <div id="number29" class="span1 number">29</div>
    <div id="number30" class="span1 number">30</div>
  </div>

  <div class="row">
    <div id="number31" class="span1 number">31</div>
    <div id="number32" class="span1 number">32</div>
    <div id="number33" class="span1 number">33</div>
    <div id="number34" class="span1 number">34</div>
    <div id="number35" class="span1 number">35</div>
    <div id="number36" class="span1 number">36</div>
    <div id="number37" class="span1 number">37</div>
    <div id="number38" class="span1 number">38</div>
    <div id="number39" class="span1 number">39</div>
    <div id="number40" class="span1 number">40</div>
  </div>


  <div class="row">
    <div id="number41" class="span1 number">41</div>
    <div id="number42" class="span1 number">42</div>
    <div id="number43" class="span1 number">43</div>
    <div id="number44" class="span1 number">44</div>
    <div id="number45" class="span1 number">45</div>
    <div id="number46" class="span1 number">46</div>
    <div id="number47" class="span1 number">47</div>
    <div id="number48" class="span1 number">48</div>
    <div id="number49" class="span1 number">49</div>
    <div id="number50" class="span1 number">50</div>
  </div>
  <div class="row">
    <div id="number51" class="span1 number">51</div>
    <div id="number52" class="span1 number">52</div>
    <div id="number53" class="span1 number">53</div>
    <div id="number54" class="span1 number">54</div>
    <div id="number55" class="span1 number">55</div>
    <div id="number56" class="span1 number">56</div>
    <div id="number57" class="span1 number">57</div>
    <div id="number58" class="span1 number">58</div>
    <div id="number59" class="span1 number">59</div>
    <div id="number60" class="span1 number">60</div>
  </div>
  <div class="row">
    <div id="number61" class="span1 number">61</div>
    <div id="number62" class="span1 number">62</div>
    <div id="number63" class="span1 number">63</div>
    <div id="number64" class="span1 number">64</div>
    <div id="number65" class="span1 number">65</div>
    <div id="number66" class="span1 number">66</div>
    <div id="number67" class="span1 number">67</div>
    <div id="number68" class="span1 number">68</div>
    <div id="number69" class="span1 number">69</div>
    <div id="number70" class="span1 number">70</div>
  </div>
  <div class="row">
    <div id="number71" class="span1 number">71</div>
    <div id="number72" class="span1 number">72</div>
    <div id="number73" class="span1 number">73</div>
    <div id="number74" class="span1 number">74</div>
    <div id="number75" class="span1 number">75</div>
    <div id="number76" class="span1 number">76</div>
    <div id="number77" class="span1 number">77</div>
    <div id="number78" class="span1 number">78</div>
    <div id="number79" class="span1 number">79</div>
    <div id="number80" class="span1 number">80</div>
  </div>
</div>
</div>
<div class="span2"</div>
</div>
